@model VitaFlow.Domain.Entities.SaleRegister
@{
    ViewData["Title"] = "GSTSalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsSoldByHo = Convert.ToBoolean(Context.Session.GetString("IsSoldByHo"));
    string CurrentPartyCode = Convert.ToString(Context.Session.GetString("PartyCode"));
    string CurrentPartyName = Convert.ToString(Context.Session.GetString("PartyName"));
    string PartyCaption = ViewBag.PartyCaption;
    string CustomerCaption = ViewBag.CustomerCaption;
}
<script type="text/javascript">
    debugger;
    var grid, dialog;
        var IsYes = false;
        var ProductWiseGrid = [{}];
        var ProductList = [];
        var FullProductList;
        var CategoryList = [];
        var FullCategoryList;
        var SalesType = "ProductWise";
        var IsCategory = false;
        var IsProduct = false;
        var IsDateFilter = false;
        var FromDate="", ToDate="";
        var ProductCode = "0", CategoryCode = "0",PartyCode = "0";
        var PreviouslySelectedFromDate = "";
        var PreviouslySelectedToDate = "";
        var PreviouslySelectedFromPickerDate = "",type="";
        var PreviouslySelectedToPickerDate = "";
        var IsParty = false;
        var PartyList = [];
        var FullPartyList;
        var TotalQty = 0;
        var TotalAmount = 0;
    $(document).ready(function () {
        debugger;
        $(".preloader").hide();
        $("#PrintProduct").on('click', function () {
            $("#DetailPrintDiv").printElement();
        });
      $("#PartyCode").val('@CurrentPartyCode');

           $('#IsDateFilter').on('change', function () {
        if ($(this).is(':checked')) {
                IsDateFilter = true;
                $("#StartDate").val("All");
                $("#StartDate").prop("readonly", true);
                FromDate = "";
                ToDate = "";
                $("#EndDate").val("All");
                $("#EndDate").prop("readonly", true);
        }
        else
        {
                IsDateFilter = false;
                $("#StartDate").val("");
                $("#StartDate").prop("readonly", false);
                $("#EndDate").val("");
                $("#EndDate").prop("readonly", false);
                FromDate = "";
                ToDate = "";
        }
    });

     $('#StartDate').datepicker({
            format: 'dd-mm-yyyy', // Adjust to your format needs
            autoclose: true,
            todayHighlight: true
            });

        $('#EndDate').datepicker({
            format: 'dd-mm-yyyy', // Adjust to your format needs
            autoclose: true,
            todayHighlight: true
        });

       
      
        $("#btnExport").on('click', function () {
            var UserTypeStr = "SalesReturnReport";
            var tableString = "";
            var tableString = "<thead><tr>";

            if (reportType == "Invoice") {
                tableString += "<th>S.No.</th>";
                tableString += "<th>Bill No.</th>";
                tableString += "<th>Bill Date</th>";
                tableString += "<th> Code</th>";
                tableString += "<th> Name</th>";
                tableString += "<th>GSTIN</th>";
                tableString += "<th>State Name</th>";
                tableString += "<th>Exem. Sale</th>";
                tableString += "<th>Discount</th>";

                tableString += "<th>Basic 3%</th>";
                tableString += "<th>IGST@3%</th>";
                tableString += "<th>CGST@1.5% </th>";
                tableString += "<th>SGST@1.5%</th>";
                tableString += "<th>Basic 5%</th>";
                tableString += "<th>IGST@5%</th>";
                tableString += "<th>CGST@2.5% </th>";
                tableString += "<th>SGST@2.5%</th>";
                tableString += "<th>Basic 12%</th>";
                tableString += "<th>IGST@12%</th>";
                tableString += "<th>CGST@6% </th>";
                tableString += "<th>SGST@6%</th>";
                tableString += "<th>Basic 18%</th>";
                tableString += "<th>IGST@18%</th>";
                tableString += "<th>CGST@9% </th>";
                tableString += "<th>SGST@9%</th>";
                tableString += "<th>Basic 28%</th>";
                tableString += "<th>IGST@28%</th>";
                tableString += "<th>CGST@14% </th>";
                tableString += "<th>SGST@14%</th>";
                tableString += "<th>Total Amount</th>";
                tableString += "<th>Total IGST</th>";
                tableString += "<th>Total CGST</th>";
                tableString += "<th>Total SGST</th>";
                tableString += "<th>Round Off</th>";
                tableString += "<th>Bill Amount</th>";
                tableString += "</tr></thead><tbody>";
                for (var i = 0; i < ProductWiseGrid.length; i++) {
                    tableString += "<tr>";
                    tableString += "<td>" + ProductWiseGrid[i].SNo + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].BillNo + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Billdate + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Code + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].PartyName + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].GSTIN + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].StateName + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].ExemptSale + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Discount + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Basic_3 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].IGST_3 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].CGST_15 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].SGST_15 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Basic_5 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].IGST_5 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].CGST1_25 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].CGST2_25 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Basic_12 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].IGST_12 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].CGST_6 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].SGST_6 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Basic_for_18 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].IGST_18 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].CGST_9 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].SGST_9 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Basic_28 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].IGST_28 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].CGST_14 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].SGST_14 + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalAmt + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalIGST + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalCGST + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalSGST + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].RndOff + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].BillAmount + "</td>";
                    tableString += "</tr>";
                }
            }
            else {
                tableString += "<th>Product Code</th>";
                tableString += "<th>Product Name</th>";

                tableString += "<th>HSN Code</th>";
                tableString += "<th>Quantity</th>";
                tableString += "<th>Tax</th>";
                tableString += "<th>Exemt Tax</th>";
                tableString += "<th>Basic Amount</th>";
                tableString += "<th>Total IGST</th>";
                tableString += "<th>Total CGST</th>";
                tableString += "<th>Total SGST</th>";
                tableString += "<th>Total Amount</th>";
                tableString += "</tr></thead><tbody>";
                for (var i = 0; i < ProductWiseGrid.length; i++) {
                    tableString += "<tr>";
                    tableString += "<td>" + ProductWiseGrid[i].ProductId + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].ProductName + "</td>";

                    tableString += "<td>" + ProductWiseGrid[i].HSN + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Qty + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].Tax + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].ExemtTax + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].BasicAmt + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalIGST + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalCGST + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalSGST + "</td>";
                    tableString += "<td>" + ProductWiseGrid[i].TotalAmount + "</td>";
                    tableString += "</tr>";
                }
            }

            tableString += "</tbody>";
           
            $("#gridExport").empty();
            $("#gridExport").append(tableString);
            tableToExcel('gridExport', UserTypeStr + "_Export");
        });

        $("#btnShowReport").on('click', function () {
            $(".preloader").show();
            type = $(this).attr("data-type");
            ProductWiseGrid = [];
            fillGrid(type);
            PartyCode = $("#PartyCode").val();
            var PartyType = $("#partytype").val();
            debugger;
            FromDate = $("#StartDate").val();
            ToDate = $("#EndDate").val();
            var DateError = false;
            if (FromDate != "" && FromDate != null && ToDate != null && ToDate != null) {
                var d1 = toDate(FromDate);
                var d2 = toDate(ToDate);

                if (d1 > d2) {

                    DateError = true;
                    $(".preloader").hide();
                    OpenDialog("dialogMessage", "From Date should be less than To Date!", "false");
                }
                else {
                    DateError = false;

                }
            }
            else {
                DateError = false;
                if (DateError == false) {
                    if (IsDateFilter == false) {
                    }
                }
                if (FromDate == "" || FromDate == null) {
                    FromDate = "All";
                }
                if (ToDate == "" || ToDate == null) {
                    ToDate = "All";
                }

            }
            
            if (DateError == false) {
                var InvoiceTypeVal = type;
                $.ajax({

                    url: '/Report/GetSaleRegisterReport',
                    type: 'POST',
                    data: { "FromDate": FromDate, "ToDate": ToDate, "PartyCode": PartyCode, "type": InvoiceTypeVal },
                    
                    dataType: "json",
                    success: function (objResult) {
                        debugger;
                        ProductWiseGrid = [];
                        TotalQty = 0;
                        TotalAmount = 0;
                        if (objResult.length > 0) {
                            for (var i = 0; i < objResult.length; i++) {
                                if (InvoiceTypeVal == "Invoice") {
                                    var InvoicePath = '@Url.Action("InvoicePrint", "Transaction", new { Pm = "-1" })';
                                    var encodedparameters = objResult[i].billNo;
                                    //console.log("encodedparameters", encodedparameters);
                                    //encodedparameters="uid=testuser&pwd=test123456&Id=84503&Name=tes&Email=abc@xyz.com&MobileNo=9829898298&Address=Bhl";
                                    var EncryptedB64Url = window.btoa(encodedparameters);
                                    console.log("EncryptedB64Url", EncryptedB64Url);
                                    InvoicePath = InvoicePath.replace("-1", EncryptedB64Url);
                                    ProductWiseGrid.push({
                                        "InvoicePath": InvoicePath, "BillNo": objResult[i].userBillNo, "Billdate": objResult[i].billdate, "Code": objResult[i].code, "PartyName": objResult[i].partyName, "GSTIN": objResult[i].gstin, "ExemptSale": objResult[i].exemptSale, "Discount": objResult[i].discount,
                                        "Basic_5": objResult[i].basic5, "IGST_5": objResult[i].igsT5, "CGST1_25": objResult[i].cgsT25, "CGST2_25": objResult[i].sgsT25, "Basic_12": objResult[i].basic12, "IGST_12": objResult[i].igsT12, "CGST_6": objResult[i].cgsT6, "SGST_6": objResult[i].sgsT6,
                                         "Basic_for_18": objResult[i].basic18, "IGST_18": objResult[i].igsT18, "CGST_9": objResult[i].cgsT9, "SGST_9": objResult[i].sgsT9,
                                         "Basic_28": objResult[i].basic28, "IGST_28": objResult[i].igsT28, "CGST_14": objResult[i].cgsT14, "SGST_14": objResult[i].sgsT14,
                                         "TotalAmt": objResult[i].totalBasicAmt, "TotalIGST": objResult[i].totalIGST, "TotalCGST": objResult[i].totalCGST, "TotalSGST": objResult[i].totalSGST, 
                                         "RndOff": objResult[i].roundOff, "BillAmount": objResult[i].totalAmount,
                                          "Basic_3": objResult[i].basic3, "IGST_3": objResult[i].igsT3, "CGST_15": objResult[i].cgsT15, "SGST_15": objResult[i].sgsT15, "StateName": objResult[i].statename
                                                                                                                                            });
                                }
                                else {
                                    ProductWiseGrid.push({ "ProductId": objResult[i].productId, "Qty": parseInt(objResult[i].qty), "ProductName": objResult[i].productName, 
                                    "HSN": objResult[i].hsncode, "Tax": objResult[i].tax, "BasicAmt": objResult[i].basicAmt, "ExemtTax": objResult[i].exemtTax,
                                        "TotalIGST": objResult[i].igstAmt, "TotalCGST": objResult[i].cgstAmt, "TotalSGST": objResult[i].sgstAmt, "TotalAmount": objResult[i].totalAmount
                                    });
                                }
                            }
                        }
                        fillGrid(type);
                        $(".preloader").hide();
                    },
                    error: function (xhr, data) {
                        console.log(xhr);
                        console.log("Error:", data);
                    }
                });
            }
        });


        $("#btnProductShowReport").on('click', function () {
            $(".preloader").show();
            type = $(this).attr("data-type");
            ProductWiseGrid = [];
            fillGrid(type);
            PartyCode = $("#PartyCode").val();
            var PartyType = $("#partytype").val();
            debugger;
            FromDate = $("#StartDate").val();
            ToDate = $("#EndDate").val();
            var DateError = false;
            if (FromDate != "" && FromDate != null && ToDate != null && ToDate != null) {
                var d1 = toDate(FromDate);
                var d2 = toDate(ToDate);

                if (d1 > d2) {

                    DateError = true;
                    $(".preloader").hide();
                    OpenDialog("dialogMessage", "From Date should be less than To Date!", "false");
                }
                else {
                    DateError = false;

                }
            }
            else {
                DateError = false;
                if (DateError == false) {
                    if (IsDateFilter == false) {
                    }
                }
                if (FromDate == "" || FromDate == null) {
                    FromDate = "All";
                }
                if (ToDate == "" || ToDate == null) {
                    ToDate = "All";
                }

            }

            if (DateError == false) {
                var InvoiceTypeVal = type;
                $.ajax({

                    url: '/Report/GetSaleRegisterReport',
                    type: 'POST',
                    data: { "FromDate": FromDate, "ToDate": ToDate, "PartyCode": PartyCode, "type": InvoiceTypeVal },

                    dataType: "json",
                    success: function (objResult) {
                        debugger;
                        ProductWiseGrid = [];
                        TotalQty = 0;
                        TotalAmount = 0;
                        if (objResult.length > 0) {
                            for (var i = 0; i < objResult.length; i++) {
                                if (InvoiceTypeVal == "Invoice") {
                                    var InvoicePath = '@Url.Action("InvoicePrint", "Transaction", new { Pm = "-1" })';
                                    var encodedparameters = objResult[i].billNo;
                                    //console.log("encodedparameters", encodedparameters);
                                    //encodedparameters="uid=testuser&pwd=test123456&Id=84503&Name=tes&Email=abc@xyz.com&MobileNo=9829898298&Address=Bhl";
                                    var EncryptedB64Url = window.btoa(encodedparameters);
                                    console.log("EncryptedB64Url", EncryptedB64Url);
                                    InvoicePath = InvoicePath.replace("-1", EncryptedB64Url);
                                    ProductWiseGrid.push({
                                        "InvoicePath": InvoicePath, "BillNo": objResult[i].billNo, "Billdate": objResult[i].billdate, "Code": objResult[i].code, "PartyName": objResult[i].partyName, "GSTIN": objResult[i].gstin, "ExemptSale": objResult[i].exemptSale, "Discount": objResult[i].discount,
                                        "Basic_5": objResult[i].basic5, "IGST_5": objResult[i].igsT5, "CGST1_25": objResult[i].cgsT25, "CGST2_25": objResult[i].sgsT25, "Basic_12": objResult[i].basic12, "IGST_12": objResult[i].igsT12, "CGST_6": objResult[i].cgsT6, "SGST_6": objResult[i].sgsT6,
                                        "Basic_for_18": objResult[i].basic18, "IGST_18": objResult[i].igsT18, "CGST_9": objResult[i].cgsT9, "SGST_9": objResult[i].sgsT9,
                                        "Basic_28": objResult[i].basic28, "IGST_28": objResult[i].igsT28, "CGST_14": objResult[i].cgsT14, "SGST_14": objResult[i].sgsT14,
                                        "TotalAmt": objResult[i].totalBasicAmt, "TotalIGST": objResult[i].totalIGST, "TotalCGST": objResult[i].totalCGST, "TotalSGST": objResult[i].totalSGST,
                                        "RndOff": objResult[i].roundOff, "BillAmount": objResult[i].totalAmount,
                                        "Basic_3": objResult[i].basic3, "IGST_3": objResult[i].igsT3, "CGST_15": objResult[i].cgsT15, "SGST_15": objResult[i].sgsT15, "StateName": objResult[i].statename
                                    });
                                }
                                else {
                                    ProductWiseGrid.push({
                                        "ProductId": objResult[i].prodID, "Qty": parseInt(objResult[i].qty), "ProductName": objResult[i].productName,
                                        "HSN": objResult[i].hsnCode, "Tax": objResult[i].tax, "BasicAmt": objResult[i].basicAmount, "ExemtTax": objResult[i].exemtTax,
                                        "TotalIGST": objResult[i].igstAmt, "TotalCGST": objResult[i].cgstAmt, "TotalSGST": objResult[i].sgstAmt, "TotalAmount": objResult[i].totalAmount
                                    });
                                }
                            }
                        }
                        fillGrid(type);
                        $(".preloader").hide();
                    },
                    error: function (xhr, data) {
                        console.log(xhr);
                        console.log("Error:", data);
                    }
                });
            }
        });



    });



    function GetAllParty() {
        $.ajax({
            url: '/Report/GetAllPartyListForReports',
            dataType: 'JSON',
            method: 'GET',
            success: function (data) {
                FullPartyList = data;
                PartyList = [];
                if (data != null) {
                    var i = 0;
                    for (i = 0; i < data.length; i++) {
                        PartyList.push(data[i].PartyName);
                    }
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function toDate(dateStr) {
        var parts = dateStr.split("-");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }
    function OpenDialog(dialogId, Message, isConfirmation) {
        $("#" + dialogId).empty();
        $("#" + dialogId).append('<p>' + Message + '</p>');
        if (isConfirmation == "true") {
            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "Yes",
                    id: "btnYes" + dialogId,
                    click: function () {
                        IsYes = true;
                        $("#" + dialogId).dialog("close");
                    }
                },
                {
                    text: "No",
                    id: "btnNo" + dialogId,
                    click: function () {
                        IsYes = false;
                        $("#" + dialogId).dialog("close");
                    }
                }
                ]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }
        else {


            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "OK",
                    id: "btn" + dialogId,
                    click: function () {
                        $("#" + dialogId).dialog("close");
                    }
                }]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }

    }
    



    function fillGrid(type) {
        debugger;
        $("#noRecord").hide();
        if (grid != null) {
            grid.destroy();
            $('#grid').empty();

        }
        if (type == "Invoice") {
        grid = $('#grid').grid({
            dataSource: ProductWiseGrid,
            uiLibrary: 'bootstrap',
            headerFilter: true,
            columns: [
            { field: 'BillNo', title: 'Bill No', width: 130, sortable: true, hidden: false, filterable: true, tmpl: '<a target="_blank" style="text-decoration:underline;color:blue" href={InvoicePath}>{BillNo}</a>', align: 'center' },
    { field: 'Billdate', title: 'Billdate', width: 120, sortable: true, hidden: false, filterable: true },
    { field: 'Code', title: 'Code', width: 80, sortable: true, hidden: false, filterable: true },
    { field: 'PartyName', title: 'PartyName', width: 200, sortable: true, hidden: false, filterable: true },
    { field: 'GSTIN', title: 'GSTIN', width: 80, sortable: true, hidden: false, filterable: true },

    { field: 'StateName', title: 'StateName', width: 200, sortable: true, hidden: false, filterable: true },
    { field: 'ExemptSale', title: 'ExemptSale', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'Discount', title: 'Discount', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'Basic_3', title: 'Basic 3%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'IGST_3', title: 'IGST@3%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'CGST_15', title: 'CGST@1.5%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'SGST_15', title: 'SGST@1.5%', width: 80, sortable: true, hidden: false, filterable: false },

    { field: 'Basic_5', title: 'Basic 5%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'IGST_5', title: 'IGST@5%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'CGST1_25', title: 'CGST@2.5%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'CGST2_25', title: 'SGST@2.5%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'Basic_12', title: 'Basic 12%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'IGST_12', title: 'IGST@12%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'CGST_6', title: 'CGST@6%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'SGST_6', title: 'SGST@6%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'Basic_for_18', title: 'Basic for 18%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'IGST_18', title: 'IGST@18%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'CGST_9', title: 'CGST@9%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'SGST_9', title: 'SGST@9%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'Basic_28', title: 'Basic 28%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'IGST_28', title: 'IGST@28%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'CGST_14', title: 'CGST@14%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'SGST_14', title: 'SGST@14%', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'TotalAmt', title: 'Total Amt.', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'TotalIGST', title: 'Total IGST', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'TotalCGST', title: 'Total CGST', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'TotalSGST', title: 'Total SGST', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'RndOff', title: 'Rnd.off', width: 80, sortable: true, hidden: false, filterable: false },
    { field: 'BillAmount', title: 'Bill Amount', width: 80, sortable: true, hidden: false, filterable: false }
            ],
            pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
        });
    }
    else {
       
        grid = $('#grid').grid({
            dataSource: ProductWiseGrid,
            uiLibrary: 'bootstrap',
            headerFilter: true,
            columns: [
                { field: 'ProductId', title: 'Product Code', width: 130, sortable: true, hidden: false, filterable: true },
                { field: 'ProductName', title: 'Product Name', width: 120, sortable: true, hidden: false, filterable: true },
                
                { field: 'HSN', title: 'HSN Code', width: 80, sortable: true, hidden: false, filterable: true },
                { field: 'Qty', title: 'Quantity', width: 120, sortable: true, hidden: false, filterable: true },
                { field: 'Tax', title: 'Tax', width: 200, sortable: true, hidden: false, filterable: true },
                { field: 'ExemtTax', title: 'Exemt Tax', width: 80, sortable: true, hidden: false, filterable: true },
                { field: 'BasicAmt', title: 'Basic Amount', width: 120, sortable: true, hidden: false, filterable: true },
                { field: 'TotalIGST', title: 'Total IGST', width: 80, sortable: true, hidden: false, filterable: true },
                { field: 'TotalCGST', title: 'Total CGST', width: 80, sortable: true, hidden: false, filterable: true },
                { field: 'TotalSGST', title: 'Total SGST', width: 80, sortable: true, hidden: false, filterable: true },
                { field: 'TotalAmount', title: 'Total Amount', width: 80, sortable: true, hidden: false, filterable: true },
            ],
            pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
        });
    }
   
    }

    function GetDetail (e) {
        var BillNoToDelete = e.data.record.STRNO;
        $.ajax({
                url: '/Report/GetSRProductList',
                dataType: "json",
                method: 'GET',
                async: false,
                data: { 'STRNo': BillNoToDelete },
                success: function (data) {
                    $("#returnon").html(e.data.record.STRDate);
                    $("#by").html(e.data.record.ReturnByName);
                    $("#to").html(e.data.record.ReturnTo);
                    $("#remark").html(e.data.record.Remarks);
                    $("#DetaildialogDiv").html(data);
                },
                error: function (xhr, status, error) {
                    console.log("xhr.responseText:", xhr.responseText);
                }
            });
            openDetailPopup();

    }

    function openDetailPopup() {
        $("#Detaildialog").dialog({
            modal: true,
            width: "60%"
        });

        $("#Detaildialog").dialog("open");
    }

    function SetSpecificCode(type, label) {
        if (type == "Product") {
            for (var i = 0; i < FullProductList.length; i++) {
                if (FullProductList[i].ProductName == label) {
                    $("#ProductCode").val(parseFloat(FullProductList[i].ProductCodeStr));
                    ProductCode = parseFloat(FullProductList[i].ProductCodeStr);
                    break;
                }
            }
        }
        if (type == "Category") {
            for (var i = 0; i < FullCategoryList.length; i++) {
                if (FullCategoryList[i].CategoryName == label) {
                    $("#CategoryCode").val(FullCategoryList[i].CategoryId);
                    CategoryCode = FullCategoryList[i].CategoryId;
                    GetAllProducts(FullCategoryList[i].CategoryId);
                    break;
                }
            }
        }
        if (type == "Party") {
            for (var i = 0; i < FullPartyList.length; i++) {
                if (FullPartyList[i].PartyName == label) {
                    $("#PartyCode").val(FullPartyList[i].PartyCode);
                    PartyCode = FullPartyList[i].PartyCode;
                    break;
                }
            }
        }
        console.log("CategoryCode", CategoryCode);
        console.log("ProductCode", ProductCode);
    }


  
</script>
<!-- Breadcrumb Start -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">Hi, @Convert.ToString(Context.Session.GetString("UserName"))!</h2>
            <p class="mg-b-0"> @Convert.ToString(Context.Session.GetString("PartyName"))</p>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Components Start -->
<div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="card  box-shadow-0">
            <div class="card-header">
                <h4 class="card-title mb-1">
                    GST Sale Register Report
                </h4>
            </div>
            <div class="card-body pt-0 bg-white">
                <div class="row">
                    @Html.HiddenFor(m => m.PartyCode, new { id = "PartyCode", name = "PartyCode" })
                   <div class="col-md-4">
                        <div class="form-group">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.StartDate, new { name = "StartDate", id = "StartDate", tabindex = "1", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.EndDate, new { name = "EndDate", id = "EndDate", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2" id="IsProductDiv">
                        <div class="form-group mt-4">
                            <input type="checkbox" id="IsDateFilter" name="IsDateFilter" class="flat" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="button" class="btn btn-primary" id="btnExport" name="btnExport" value="Download Excel" />
                <input type="button" class="btn btn-primary " data-type="Invoice" id="btnShowReport" value="Invoice Wise" name="btnShowReport" />
                <input type="button" class="btn btn-primary" data-type="Product" id="btnProductShowReport" value="Product Wise" name="btnProductShowReport" />

            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="card-table-two bg-white">
            <div class="table-responsive country-table bg-white">
                <table id="grid" class="table text-center table-striped table-bordered mb-0 text-sm-nowrap text-lg-nowrap text-xl-nowrap">
                </table>
            </div>
        </div>
        <table id="gridExport" style="display:none"></table>
    </div>
</div>

<!-- Components end -->
